.main-restaurante {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.extremos {
  width: 100%;
  background-color: #f5f5f5;
  padding: 15px;
  border: solid 1px #ddd;
  border-radius: 8px;
}

.product-wrapper {
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  gap: 1rem; /* espacio entre tarjetas */
  justify-content: space-between;
}

.product-card {
  width: 45%;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* 👈 importante */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white; /* 👈 importante */
  z-index: 9999; /* 👈 alto para estar por encima */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 400px; /* 👈 opcional para asegurar tamaño */
  max-width: 90vw;
}
